<a mat-menu-item href="" class="link">
 <span class="text">Обогреватели</span>
</a>
<a mat-menu-item href="" class="link">
  <span class="text">Шины</span>
 </a>
 <a mat-menu-item href="" class="link">
  <span class="text">Холодильники</span>
 </a>
 <a mat-menu-item href="" class="link">
  <span class="text">Телевизоры</span>
 </a>
 <a mat-menu-item href="" class="link">
  <span class="text">Ноутбуки</span>
 </a>
 <a mat-menu-item href="" class="link">
  <span class="text">Смартфоны</span>
 </a>
 <a mat-menu-item href="" class="link">
  <span class="text">Стиральные машины</span>
 </a>
 <a mat-menu-item href="" class="link">
  <span class="text">Матрасы</span>
 </a>
 <a mat-menu-item href="" class="link">
  <span class="text">Диваны</span>
 </a>
 <a mat-menu-item href="" class="link">
  <span class="text">Готовые кухни</span>
 </a>
