:host {
  display: flex;
  color: white;
  padding: 0 100px;
  background: linear-gradient(
90deg
,#941e94,#e52e6b);
}

.link {
  width: 100%;
  color: wheat;
}

.text {
  color: white;
  font-size: 14px;
}
