<div class="contact-block">
    <app-contact
    [icon]="'assets/core/header/info-block/a1.svg'"
    [info]="'+375 29 302 10 21'"
    [link]="''"
  ></app-contact>

  <app-contact
    [icon]="'assets/core/header/info-block/life.svg'"
    [info]="'+375 25 502 10 21'"
    [link]="''"
  ></app-contact>

  <app-contact
    [icon]="'assets/core/header/info-block/home.svg'"
    [info]="'+375 17 302 10 21'"
    [link]="''"
  ></app-contact>

  <app-contact
    [icon]="'assets/core/header/info-block/viber.svg'"
    [info]="'Viber'"
    [link]="'https://www.viber.com/ru/'"
  ></app-contact>

  <app-contact
    [icon]="'assets/core/header/info-block/telegram.svg'"
    [info]="'Telegram'"
    [link]="'http://t.me/e21vekbot'"
  ></app-contact>

  <app-contact
    [icon]="'assets/core/header/info-block/email.svg'"
    [info]="'Mail'"
    [link]="'mailto:21@21vek.by'"
  ></app-contact>

  <app-contact
    [icon]="'assets/core/header/info-block/email.svg'"
    [info]="'Write us'"
    [link]="'21@21vek.by'"
  ></app-contact>
</div>

<div class="links-block">
  <app-social-link  [iconName]="'vk'" [link]="'https://vk.com'"></app-social-link>
  <app-social-link  [iconName]="'facebook'" [link]="'https://facebook.com'"></app-social-link>
  <app-social-link  [iconName]="'instagram'" [link]="'https://instagram.com'"></app-social-link>
  <app-social-link  [iconName]="'youtube'" [link]="'https://youtube.com'"></app-social-link>
  <app-social-link  [iconName]="'ok'" [link]="'https://ok.ru'"></app-social-link>
</div>

<div class="legal-block">
  В торговом реестре с 23 июня 2010 г., № регистрации 156473, УНП 190806803, регистрация №190806803, 22.02.2007, Мингорисполком.
© 2004–2021 21vek.by, Общество с ограниченной ответственностью «Триовист», юр.адрес: 220020, Минск, пр. Победителей, 100, оф. 203 E-mail: 21@21vek.by
</div>



